{% extends '@EasyAdmin/layout.html.twig' %}

{% block head_javascript %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            window.ApexCharts && (new ApexCharts(document.getElementById('chart-active-users'), {
                chart: {
                    type: "bar",
                    fontFamily: 'inherit',
                    height: 40.0,
                    sparkline: {
                        enabled: true
                    },
                    animations: {
                        enabled: false
                    },
                },
                plotOptions: {
                    bar: {
                        columnWidth: '50%',
                    }
                },
                dataLabels: {
                    enabled: false,
                },
                fill: {
                    opacity: 1,
                },
                series: [{
                    name: "Accounts",
                    data: [{% for k, v in accountLast30Days %}{% if loop.first == false  %},{% endif%}{{ v }}{% endfor %}],
                }],
                grid: {
                    strokeDashArray: 4,
                },
                xaxis: {
                    labels: {
                        padding: 0
                    },
                    tooltip: {
                        enabled: false
                    },
                    axisBorder: {
                        show: false,
                    },
                    type: 'datetime',
                },
                yaxis: {
                    labels: {
                        padding: 4
                    },
                },
                labels: [
                    {% for k, v in accountLast30Days %}{% if loop.first == false  %},{% endif%}'{{ k }}'{% endfor %}
                ],
                colors: ["#206bc4"],
                legend: {
                    show: false,
                },
            })).render();
        });
    </script>
{% endblock head_javascript %}

{% block main %}
You have {{ accounts }} accounts and {{ contacts }} contacts.

    <div class="card" style="width: 25%;">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="subheader">Accounts creation</div>
                <div class="ml-auto lh-1">
                    <div class="dropdown">
                        Last 30 days
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-baseline">
                <div class="h1 mb-3 mr-2">{{ accountLast30DaysSum }}</div>
            </div>
            <div id="chart-active-users" class="chart-sm"></div>
        </div>
    </div>
{% endblock %}